<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/views/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="font-weight-bold text-center">Product Management</h1>
<br/>
<div class="row">
    <div class="container">
        <h2 class="font-weight-bold text-center">List product</h2>
        <hr>
        <span th:text="${message} ? ${message} : '' "></span>
        <form>
            Search by name Category:
            <input name="s" type="text" th:value="${keyword}"/>
            <input type="submit" value="Search"/>
        </form>
        <a th:href="@{/admin/product/create}">Add new Product</a>
        <br>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form id="remove" method="post" onsubmit="return confirm('Do you wanna delete this product?');">
                    <table border="1" style="width: 100%">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th style="width: 10%">Edit</th>
                            <th style="width: 10%">Delete</th>
                        </tr>
                        <th:block th:each="product : ${products}">
                            <tr>
                                <td th:text="${product.id}"></td>
                                <td th:text="${product.productName}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.quantity}"></td>
                                <td th:text="${product.description}"></td>
                                <td>
                                    <a class="btn btn-primary"
                                       th:href="@{/admin/product-edit/__${product.id}__}">Edit</a>
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit"
                                            th:onclick="|deleteClick('${product.id}')|">Delete
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="text-center">
            <a th:href="@{'/admin/product/list'(page=${products.number})}" th:if="${products.hasPrevious()}">Previous</a>
            <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
            <a th:href="@{'/admin/product/list'(page=${products.number + 2})}"
               th:if="${products.hasNext()}">Next</a>
        </div>
    </div>
</div>


<footer th:replace="/views/layout :: footer"></footer>
<script>
    function deleteClick(id) {
        console.log(id);
        document.getElementById('remove').action = '/admin/product-delete/' + id;
        document.getElementById('remove').method = 'POST';
    }
</script>
</body>
</html>