<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/views/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${message} ? ${message} : '' "></span>
<h1 class="text-center">Category</h1>

<br/>
<div class="row">
    <div class="container">
        <h2 class="font-weight-bold text-center">List category</h2>
        <hr>
        <form>
            Search by name Category:
            <input name="s" type="text" th:value="${keyword}"/>
            <input type="submit" value="Search"/>
        </form>
        <a th:href="@{/admin/category/create}">Add new Category</a>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form id="remove" method="post" onsubmit="return confirm('Do you wanna delete this category?');">
                    <table border="1" style="width: 100%">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th style="width: 10%">Edit</th>
                            <th style="width: 10%">Delete</th>
                        </tr>
                        <th:block th:each="category : ${categories}">
                            <tr>
                                <td th:text="${category.id}"></td>
                                <td th:text="${category.categoryName}"></td>
                                <td th:text="${category.description}"></td>
                                <td>
                                    <a class="btn btn-primary"
                                       th:href="@{/admin/category-edit/__${category.id}__}">Edit</a>
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit"
                                            th:onclick="|deleteClick('${category.id}')|" >Delete
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="text-center">
            <a th:href="@{'/admin/category/list'(page=${categories.number})}" th:if="${categories.hasPrevious()}">Previous</a>
            <span th:text="${categories.number + 1}"></span>/<span th:text="${categories.totalPages}"></span>
            <a th:href="@{'/admin/category/list'(page=${categories.number + 2})}"
               th:if="${categories.hasNext()}">Next</a>
        </div>
    </div>
</div>


<!--<div>-->
<!--    <a th:href="@{'/customers'(s=${keyword}, page=${customers.number})}" th:if="${customers.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>-->
<!--    <a th:href="@{'/customers'(s=${keyword}, page=${customers.number + 2})}" th:if="${customers.hasNext()}">Next</a>-->
<!--</div>-->
<footer th:replace="/views/layout :: footer"></footer>
<script>
    function deleteClick(id) {
        console.log(id);
        document.getElementById('remove').action = '/admin/category-delete/' + id;
        document.getElementById('remove').method = 'POST';
    }
</script>
</body>
</html>